.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
}

.menu {
  background-color: #eee;
  width: 200px;
  min-width: 200px;
}

.max-size {
  height: 100vh;
  width: 100vw;
}

.min-w {
  min-width: 200px;
}
